.nav__link {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
  color: #333333;
  text-decoration: none;
}

.nav__link:hover {
  color: #6ea7f5;
}

.nav__link:visited {
  border-bottom: 1px dotted #6ea7f5;
}